body {
      margin: 0px;
}

.MenuList {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 10px 0px;
      cursor: pointer;
      text-decoration: none;
}

:hover.MenuList {
      opacity: 0.6;
}

:active.MenuList {
      opacity: 1;
}